!SG2210MP
#
vlan 1
 name "Default"
#
vlan 10
 name "WiFi"
#
vlan 20
 name "Business"
#
vlan 30
 name "IoT"
#
vlan 40
 name "Surveillance"
#
vlan 50
 name "Servers"
#
vlan 4090
 name "Guests"
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
hostname "Homelab | SW02"
contact-info ""
ip fallback 192.168.0.1 255.255.255.0
#
#
no system-time ntp
no system-time dst
#
sdm prefer omada
#
#
no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

#
no dot1x handshake
#
user name alberto privilege admin secret 5 $1$E<L1M1@6F8@<B>C3G:D:K2D<I/M=J0K3{%%,.
telnet disable
no service reset-disable
#
#
#
#
#
#
#
#
#
no ip ssh server 
#
#
no spanning-tree
spanning-tree mode rstp
#
snmp-server
snmp-server group "default" smode v3 slev noAuthNoPriv read "viewDefault"
snmp-server user "albertove-snmp" local "default" smode v3 slev authNoPriv cmode MD5 cpwd "7cf53a9b17395d70352d049b3c478f9497c5378743e3486064154ee0a7452bbf" emode none
#
ip http server
#
ip igmp snooping
no voice vlan oui 00:01:E3
no voice vlan oui 00:03:6B
no voice vlan oui 00:12:43
no voice vlan oui 00:0F:E2
no voice vlan oui 00:60:B9
no voice vlan oui 00:D0:1E
no voice vlan oui 00:E0:75
no voice vlan oui 00:E0:BB
no voice vlan oui 00:04:0D
no voice vlan oui 00:1B:4F
no voice vlan oui 00:04:13
#
lldp
#
ipv6 routing
#
#
#
#
profile ip id 864249631 ip 0.0.0.0/0
profile ip id 124506471 ip 10.30.0.15/32
profile ip id 1478615591 ip 10.30.0.17/32
profile ip id 1478615591 ip 10.30.0.16/32
profile ip id 1478615591 ip 10.30.0.18/32
profile ip id 1478615591 ip 10.30.0.19/32
profile ip id 1478615591 ip 10.30.0.20/32
profile ip id 1478615591 ip 10.30.0.25/32
profile ip id 1478615591 ip 10.30.0.21/32
profile ip id 1771951847 ip 10.10.0.231/32
profile ip id 1771951847 ip 10.10.0.10/32
profile ip id 1771951847 ip 10.10.0.18/32
profile ip id 161883202 ip 10.50.0.101/32
profile ipv6 id 1 ipv6 ::/0
profile port id 1279084081 ip 10.1.0.1/32
profile port id 1279084081 ip 10.10.0.1/32
profile port id 1279084081 ip 10.20.0.1/32
profile port id 1279084081 ip 10.30.0.1/32
profile port id 1279084081 ip 10.40.0.1/32
profile port id 1279084081 ip 10.50.0.1/32
profile port id 1279084081 ip 172.16.1.1/32
profile port id 1279084081 ip 10.2.0.1/32
profile port id 1279084081 portStart 22 portEnd 22
profile port id 1279084081 portStart 21 portEnd 21
profile port id 1279084081 portStart 80 portEnd 80
profile port id 1279084081 portStart 443 portEnd 443
profile port id 1279084081 portStart 161 portEnd 161
profile port id 1279084081 portStart 162 portEnd 162
profile port id 1439123802 ip 10.1.0.0/24
profile port id 1439123802 ip 10.50.0.0/24
profile port id 1439123802 portStart 22 portEnd 22
profile port id 1439123802 portStart 443 portEnd 443
profile port id 1439123802 portStart 80 portEnd 80
profile port id 1439123802 portStart 161 portEnd 161
profile port id 1439123802 portStart 162 portEnd 162
profile port id 704161650 ip 10.1.0.9/32
profile port id 704161650 portStart 53 portEnd 53
profile network id 1242531296 vid 1 ip 10.1.0.1/24
profile network id 528568792 vid 50 ip 10.50.0.1/24
profile network id 1235244842 vid 20 ip 10.20.0.1/24
profile network id 1749357251 vid 40 ip 10.40.0.1/24
profile network id 49121312 vid 4090 ip 172.16.1.1/24
profile network id 184181909 vid 10 ip 10.10.0.1/24
profile network id 2076166457 vid 30 ip 10.30.0.1/24

#
access-list mode blacklist
#
#
loopback-detection
#
#
#
#
#
no boot autoinstall auto-save
no boot autoinstall auto-reboot
#
auto-voip
#
#
#
#
no controller cloud-based
cloud-firmware upgrade auto-check
#
interface vlan 1
  ip address-alloc dhcp
  no ipv6 enable
#
interface gigabitEthernet 1/0/1
  description Port1
  shutdown
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/2
  description "Surveillance | CAM1"
  switchport general allowed vlan 40 untagged
  switchport pvid 40
  no switchport general allowed vlan 1
  qos trust mode dscp
  bandwidth ingress 99968 egress 99968
  port isolation-enable
  port isolation gi-forward-list 1/0/1-2,1/0/4-10 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/3
  description "Surveillance | CAM2"
  switchport general allowed vlan 40 untagged
  switchport pvid 40
  no switchport general allowed vlan 1
  qos trust mode dscp
  bandwidth ingress 99968 egress 99968
  port isolation-enable
  port isolation gi-forward-list 1/0/1,1/0/3-10 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/4
  description Port4
  shutdown
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/5
  description Port5
  shutdown
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/6
  description Port6
  shutdown
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/7
  description "Cloud Controller"
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/8
  description AP01
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/9
  description "Up-link -- SW01"
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/10
  description Port10
  shutdown
  qos trust mode dscp
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
ip igmp snooping vlan-config 10
ip igmp snooping vlan-config 20
ip igmp snooping vlan-config 40
ip igmp snooping vlan-config 50
end