!SG3428
#
vlan 1
 name "System-VLAN"
#
vlan 10
#
vlan 20
#
vlan 30
 name "IoT"
#
vlan 40
#
vlan 50
#
vlan 4090
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
contact-info ""
serial_port baud_rate 38400
ip fallback 192.168.0.1 255.255.255.0
#
#
no system-time ntp
no system-time dst
#
sdm prefer omada
#
#
no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

#
no dot1x handshake
#
user name alberto privilege admin secret 5 $1$E<L1M1@6F8@<B>C3G:D:K2D<I/M=J0K3{%%,.
telnet enable
no service reset-disable
#
#
#
#
#
#
#
#
#
#
#
no spanning-tree
spanning-tree mode rstp
spanning-tree max-hops 40
#
#
snmp-server
snmp-server group "default" smode v3 slev authNoPriv read "viewDefault"
snmp-server user "albertove-snmp" local "default" smode v3 slev authNoPriv cmode MD5 cpwd "7cf53a9b17395d70352d049b3c478f9497c5378743e3486064154ee0a7452bbf" emode none
#
no ip http server
#
ip igmp snooping
lldp
#
ipv6 routing
#
profile ip id 864249631 ip 0.0.0.0/0
profile ip id 161883202 ip 10.50.0.101/32
profile ip id 124506471 ip 10.30.0.15/32
profile ip id 1478615591 ip 10.30.0.17/32
profile ip id 1478615591 ip 10.30.0.16/32
profile ip id 1478615591 ip 10.30.0.18/32
profile ip id 1478615591 ip 10.30.0.19/32
profile ip id 1478615591 ip 10.30.0.20/32
profile ip id 1478615591 ip 10.30.0.25/32
profile ip id 1478615591 ip 10.30.0.21/32
profile ip id 1771951847 ip 10.10.0.231/32
profile ip id 1771951847 ip 10.10.0.10/32
profile ip id 1771951847 ip 10.10.0.18/32
profile ipv6 id 1 ipv6 ::/0
profile port id 704161650 ip 10.1.0.9/32
profile port id 704161650 portStart 53 portEnd 53
profile port id 1279084081 ip 10.1.0.1/32
profile port id 1279084081 ip 10.10.0.1/32
profile port id 1279084081 ip 10.20.0.1/32
profile port id 1279084081 ip 10.30.0.1/32
profile port id 1279084081 ip 10.40.0.1/32
profile port id 1279084081 ip 10.50.0.1/32
profile port id 1279084081 ip 172.16.1.1/32
profile port id 1279084081 ip 10.2.0.1/32
profile port id 1279084081 portStart 22 portEnd 22
profile port id 1279084081 portStart 21 portEnd 21
profile port id 1279084081 portStart 80 portEnd 80
profile port id 1279084081 portStart 443 portEnd 443
profile port id 1279084081 portStart 161 portEnd 161
profile port id 1279084081 portStart 162 portEnd 162
profile port id 1439123802 ip 10.1.0.0/24
profile port id 1439123802 ip 10.50.0.0/24
profile port id 1439123802 portStart 22 portEnd 22
profile port id 1439123802 portStart 443 portEnd 443
profile port id 1439123802 portStart 80 portEnd 80
profile port id 1439123802 portStart 161 portEnd 161
profile port id 1439123802 portStart 162 portEnd 162
profile network id 1242531296 vid 1 ip 10.1.0.1/24
profile network id 184181909 vid 10 ip 10.10.0.1/24
profile network id 1235244842 vid 20 ip 10.20.0.1/24
profile network id 2076166457 vid 30 ip 10.30.0.1/24
profile network id 1749357251 vid 40 ip 10.40.0.1/24
profile network id 528568792 vid 50 ip 10.50.0.1/24
profile network id 49121312 vid 4090 ip 172.16.1.1/24

#
access-list mode blacklist
#
#
loopback-detection
#
#
#
#
#
#
no boot autoinstall auto-save
no boot autoinstall auto-reboot
#
auto-voip
#
#
#
#
no controller cloud-based
#
interface vlan 1
  ip address-alloc dhcp
  no ipv6 enable
#
interface gigabitEthernet 1/0/1
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/2
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/3
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/4
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/5
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/6
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/7
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/8
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/9
  shutdown
  switchport pvid 20
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/10
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/11
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/12
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/13
  switchport general allowed vlan 30 untagged
  switchport pvid 30
  no switchport general allowed vlan 1
  bandwidth ingress 19968 egress 19968
  port isolation-enable
  port isolation gi-forward-list 1/0/1-14,1/0/17-20,1/0/22-28 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/14
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/15
  switchport general allowed vlan 30 untagged
  switchport pvid 30
  no switchport general allowed vlan 1
  bandwidth ingress 19968 egress 19968
  port isolation-enable
  port isolation gi-forward-list 1/0/1-12,1/0/14-15,1/0/17-20,1/0/22-28 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/16
  switchport general allowed vlan 30 untagged
  switchport general allowed vlan 10 tagged
  switchport pvid 30
  no switchport general allowed vlan 1
  bandwidth ingress 19968 egress 19968
  port isolation-enable
  port isolation gi-forward-list 1/0/1-12,1/0/14,1/0/16-20,1/0/22-28 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/17
  shutdown
  switchport pvid 20
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/18
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/19
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/20
  shutdown
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/21
  switchport general allowed vlan 30 untagged
  switchport pvid 30
  no switchport general allowed vlan 1
  bandwidth ingress 19968 egress 19968
  port isolation-enable
  port isolation gi-forward-list 1/0/1-12,1/0/14,1/0/17-28 po-forward-list 1-8
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/22
  switchport general allowed vlan 20 untagged
  switchport pvid 20
  no switchport general allowed vlan 1
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/23
  switchport general allowed vlan 20 untagged
  switchport pvid 20
  no switchport general allowed vlan 1
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/24
  switchport general allowed vlan 20 untagged
  switchport pvid 20
  no switchport general allowed vlan 1
  no spanning-tree
  
  lldp med-status
#
interface gigabitEthernet 1/0/25
  shutdown
  switchport pvid 20
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/26
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/27
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
interface gigabitEthernet 1/0/28
  switchport general allowed vlan 10,20,30,40,50,4090 tagged
  no spanning-tree
  
  lldp med-status
  loopback-detection config process-mode port-based recovery-mode auto
  loopback-detection
#
ip igmp snooping vlan-config 10
ip igmp snooping vlan-config 20
ip igmp snooping vlan-config 40
ip igmp snooping vlan-config 50
end